In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("소상공인시장진흥공단_상가(상권)정보_서울_202306.csv")

C:\Users\user\AppData\Local\Temp\ipykernel_17116\189606707.py:1: DtypeWarning: Columns (2,11,13,15,17,19,20,22,23,25,27,28,33) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("소상공인시장진흥공단_상가(상권)정보_서울_202306.csv")

In [3]:
df.head()

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
0,MA0101202210A0037544,영자's곱창,NaN,I2,음식,I201,한식,I20109,곱창 전골/구이,I56111,...,1121510100101690021003140,NaN,서울특별시 광진구 면목로 172,143900.0,4904.0,NaN,1,NaN,127.082832,37.568503
1,MA0101202210A0097916,호텔클로이,NaN,I1,숙박,I101,일반 숙박,I10102,여관/모텔,I55102,...,1114014500101300000014092,유성장,서울특별시 중구 을지로42길 11,100411.0,4561.0,NaN,NaN,NaN,127.005849,37.565708
2,MA0101202210A0096343,나라차중계태권도장,NaN,P1,교육,P106,기타 교육,P10601,태권도/무술학원,P85611,...,1135010600103640019010971,삼부프라자,서울특별시 노원구 한글비석로 242,139861.0,1734.0,NaN,NaN,NaN,127.076956,37.649226
3,MA0101202210A0093845,이상한스냅,NaN,M1,과학·기술,M113,사진 촬영,M11301,사진촬영업,M73303,...,1147010300100090004000001,백송주택,서울특별시 양천구 월정로 283,158822.0,7902.0,NaN,NaN,NaN,126.828832,37.542117
4,MA010120220805430767,토끼정,NaN,I2,음식,I201,한식,I20101,백반/한정식,I56111,...,1150010500107740012000001,마커스빌딩,서울특별시 강서구 마곡동로 55,157805.0,7802.0,NaN,2,NaN,126.833022,37.560053

# 4개의 행정구의 행정동 데이터 프레임 만들기

In [4]:
# 행정구의 행정동 리스트로 담기
yang_dong_list = df.query("시군구명 == '양천구'")["행정동명"].unique().tolist()

In [5]:
len(yang_dong_list)

18

In [6]:
# 첫번째 동에 대한 데이터프레임 만들기
yang_df = pd.DataFrame(df[df['행정동명'] == '신월5동']['상권업종대분류명'].value_counts()).rename(columns={'상권업종대분류명': '신월5동'}).transpose()

# 반복문으로 나머리 동의 데이터프레임 만들어서 합치기
for dong_name in yang_dong_list:
    dog = pd.DataFrame(df[df['행정동명'] == dong_name]['상권업종대분류명'].value_counts()).rename(columns={'상권업종대분류명': dong_name}).transpose()
    yang_df = pd.concat([yang_df,dog], axis = 0)

In [7]:
# 중랑구 행정동 리스트에 담기
zoong_dong_list = df.query("시군구명 == '중랑구'")["행정동명"].unique().tolist()

In [8]:
# 중랑구 행정동 정보 데이터프레임에 합치기
for dong_name in zoong_dong_list:
    dog = pd.DataFrame(df[df['행정동명'] == dong_name]['상권업종대분류명'].value_counts()).rename(columns={'상권업종대분류명': dong_name}).transpose()
    yang_df = pd.concat([yang_df,dog], axis = 0)

In [9]:
# 행정동을 첫번쨰 컬럼으로 변경
yang_df = yang_df.reset_index().rename(columns = {'index':'행정동명'})

In [10]:
# 반복되는 첫 행 삭제
yang_df.drop(0, inplace = True)

In [11]:
# 중구 행정동 리스트 만들기
mid_dong_list = df.query("시군구명 == '중구'")["행정동명"].unique().tolist()
len(mid_dong_list)

15

In [12]:
# 종로구 행정동 리스트 만들기
zongro_dong_list = df.query("시군구명 == '종로구'")["행정동명"].unique().tolist()
len(zongro_dong_list)

17

In [13]:
yang_df = yang_df.set_index("행정동명")

In [14]:
# 중구 행정동 정보 데이터프레임에 합치기
for dong_name in mid_dong_list:
    dog = pd.DataFrame(df[df['행정동명'] == dong_name]['상권업종대분류명'].value_counts()).rename(columns={'상권업종대분류명': dong_name}).transpose()
    yang_df = pd.concat([yang_df,dog], axis = 0)

In [15]:
for dong_name in zongro_dong_list:
    dog = pd.DataFrame(df[df['행정동명'] == dong_name]['상권업종대분류명'].value_counts()).rename(columns={'상권업종대분류명': dong_name}).transpose()
    yang_df = pd.concat([yang_df,dog], axis = 0)

In [16]:
df = yang_df

In [24]:
# 4개의 행정구의 행정동 별 업종개수 담은 데이터
df[df.index.isin(['신월1동', '신월2동', '신월4동', '신월5동', '신월7동', '신정1동', '신정2동', '신정6동', '신정7동', '신정4동'])]

       음식   소매  수리·개인  과학·기술  예술·스포츠  부동산   교육  시설관리·임대    숙박  보건의료
신월5동  147  126     76     39      30   23   23       20   4.0   NaN
신월7동  152  133     75     31      38   30   17       17   1.0   NaN
신정2동  195  137    125     49      49   29  113       12   3.0  10.0
신정6동   69   40     22     43       9   15  104        2   NaN   4.0
신정4동  546  428    277    353     116  108  121       88  23.0  34.0
신월1동  277  280    138     40      44   38   21       17   3.0   4.0
신정1동  259  147     92     84      47   37   52       17   5.0   8.0
신정7동  156   95     62     20      32   12   57       12   NaN  10.0
신월4동  176  111     79     24      29   20   31       17   NaN   5.0
신월2동  107  104     68     28      13   37   25       21   4.0   8.0

In [18]:
df

        음식   소매  수리·개인  과학·기술  예술·스포츠  부동산   교육  시설관리·임대    숙박  보건의료
신월5동   147  126     76     39      30   23   23       20   4.0   NaN
신월7동   152  133     75     31      38   30   17       17   1.0   NaN
신정2동   195  137    125     49      49   29  113       12   3.0  10.0
신정6동    69   40     22     43       9   15  104        2   NaN   4.0
신정3동   165  150    102     49      53   47   55       27   4.0  27.0
...    ...  ...    ...    ...     ...  ...  ...      ...   ...   ...
이화동    334  143     26    118      29   11   42       25   8.0  21.0
창신2동   134   92     37     28      14   16    4        8  11.0   2.0
숭인1동    47   48     37     20       1   12    9        5   4.0   4.0
청운효자동  289  192     46    166       9   34   39       33  32.0   6.0
창신3동    32   25     15      9       4   14    5        2   5.0   NaN

[66 rows x 10 columns]

# 직장인구 컬럼 추가

In [23]:
worker = pd.read_csv("서울시 상권분석서비스(직장인구-행정동).csv", encoding = "EUC-kr")

In [24]:
worker

,기준_년분기_코드,행정동_코드,행정동_코드_명,총_직장_인구_수,남성_직장_인구_수,여성_직장_인구_수,연령대_10_직장_인구_수,연령대_20_직장_인구_수,연령대_30_직장_인구_수,연령대_40_직장_인구_수,...,남성연령대_30_직장_인구_수,남성연령대_40_직장_인구_수,남성연령대_50_직장_인구_수,남성연령대_60_이상_직장_인구_수,여성연령대_10_직장_인구_수,여성연령대_20_직장_인구_수,여성연령대_30_직장_인구_수,여성연령대_40_직장_인구_수,여성연령대_50_직장_인구_수,여성연령대_60_이상_직장_인구_수
0,20191,11110600,가회동,22078,18464,3614,36,2844,8418,5997,...,7075,5310,3712,583,19,1077,1343,687,337,151
1,20191,11110560,평창동,2458,1110,1348,6,340,515,525,...,235,261,239,266,2,235,280,264,344,223
2,20191,11110650,혜화동,5330,2736,2594,20,907,1322,1338,...,591,716,657,421,12,564,731,622,458,207
3,20191,11140650,신당5동,2047,908,1139,6,288,511,484,...,238,228,192,143,3,184,273,256,276,147
4,20191,11170660,이태원2동,2658,1434,1224,15,485,679,481,...,378,257,224,341,5,261,301,224,201,232
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7631,20232,11710641,문정1동,34975,27013,7962,17,3178,6528,10070,...,4711,7830,11299,1295,8,1309,1817,2240,1897,691
7632,20232,11740540,명일2동,2874,1969,905,5,337,819,768,...,581,558,393,262,2,165,238,210,217,73
7633,20232,11740660,성내3동,4641,2789,1852,15,658,1034,1162,...,656,703,541,532,2,314,378,459,421,278
7634,20232,11740610,천호2동,3817,1970,1847,14,484,802,933,...,378,464,440,481,6,285,424,469,444,219
7635,20232,11740620,천호3동,2763,1566,1197,3,170,305,475,...,139,236,255,869,0,106,166,239,247,439

In [25]:
# 업종개수 데이터가 2023년 6월 기준이었기 때문에 기준년분기를 2023년 2분기로 설정
worker_20232 = worker.query("기준_년분기_코드 == 20232")

In [26]:
worker_20232 = worker_20232[["행정동_코드_명", "총_직장_인구_수"]]

In [27]:
worker_20232 = worker_20232.rename(columns = {'행정동_코드_명':'행정동명'})

In [28]:
# 행정동 이름 변경
worker_20232.행정동명.replace("면목3?8동", "면목3.8동", inplace = True)
worker_20232.행정동명.replace("종로1?2?3?4가동", "종로1.2.3.4가동", inplace = True)
worker_20232.행정동명.replace("종로5?6가동", "종로5.6가동", inplace = True)

In [29]:
# 데이터 합치기
df = pd.merge(df, worker_20232, how = 'left', on = '행정동명')

KeyError: '행정동명'

# 상주인구 컬럼 추가
- 직장인구와 같은 작업 진행

In [ ]:
sangjoo = pd.read_csv("서울시 상권분석서비스(상주인구-행정동).csv", encoding = "EUC-kr")

In [ ]:
sangjoo_20232 = sangjoo.query("기준_년분기_코드 == 20232")

In [ ]:
sangjoo_20232 = sangjoo_20232[["행정동_코드_명", "총_상주인구_수"]]

In [ ]:
sangjoo_20232 = sangjoo_20232.rename(columns = {"행정동_코드_명": "행정동명"})

In [ ]:
sangjoo_20232.행정동명.replace("면목3?8동", "면목3.8동", inplace = True)
sangjoo_20232.행정동명.replace("종로1?2?3?4가동", "종로1.2.3.4가동", inplace = True)
sangjoo_20232.행정동명.replace("종로5?6가동", "종로5.6가동", inplace = True)

In [ ]:
sangjoo_20232

In [ ]:
df

In [ ]:
df = pd.merge(df, sangjoo_20232, how = 'left', on = '행정동명')

# 유동인구 컬럼 추가
- 직장인구와 같은 작업 진행
- 유동인구수가 가장 포괄적인 인구이기 때문에 성별, 연령대 컬럼도 추가

In [ ]:
yoodong = pd.read_csv("서울시 상권분석서비스(길단위인구-행정동).csv", encoding = "EUC-kr")

In [ ]:
yoodong.head(10)

In [ ]:
yoodong_20232 = yoodong.query("기준_년분기_코드 == 20232")

In [ ]:
yoodong_20232.columns

In [ ]:
yoodong_20232 = yoodong_20232[["행정동_코드_명", "총_유동인구_수", '남성_유동인구_수', '여성_유동인구_수', '연령대_10_유동인구_수', '연령대_20_유동인구_수', '연령대_30_유동인구_수', '연령대_40_유동인구_수',
       '연령대_50_유동인구_수', '연령대_60_이상_유동인구_수']]

In [ ]:
yoodong_20232

In [ ]:
yoodong_20232 = yoodong_20232.rename(columns = {"행정동_코드_명": "행정동명"})

In [ ]:
yoodong_20232.행정동명.replace("면목3?8동", "면목3.8동", inplace = True)
yoodong_20232.행정동명.replace("종로1?2?3?4가동", "종로1.2.3.4가동", inplace = True)
yoodong_20232.행정동명.replace("종로5?6가동", "종로5.6가동", inplace = True)

In [ ]:
yoodong_20232

In [ ]:
df = pd.merge(df, yoodong_20232, how = 'left', on = '행정동명')

In [ ]:
df

# 버스정류장 개수 컬럼 추가
- 서울시 상권분석서비스(집객시설-행정동).csv 파일의 버스정류장 수 컬럼 값이 정확하지 않아서 버스정류장 컬럼을 따로 전처리 진행
- Bus_data(202306).csv 파일은 석현님이 전처리해서 보내주셨어요!

In [ ]:
bus_202306 = pd.read_csv("Bus_data(202306).csv")

In [ ]:
bus_202306 = bus_202306.rename(columns = {"행정동": "행정동명"})
bus_202306 = bus_202306.rename(columns = {"정류소 수": "버스정류소 수"})

In [ ]:
bus_202306.행정동명.replace("면목3·8동", "면목3.8동", inplace = True)
bus_202306.행정동명.replace("종로1·2·3·4가동", "종로1.2.3.4가동", inplace = True)
bus_202306.행정동명.replace("종로5·6가동", "종로5.6가동", inplace = True)

In [ ]:
bus_202306

In [ ]:
df = pd.merge(df, bus_202306, how = 'left', on = '행정동명')

## 지하철 개수 컬럼 추가
- 서울시 상권분석서비스(집객시설-행정동).csv 의 지하철역 수 컬럼은 검색.비교해본 결과 정확해서 그대로 이용

In [ ]:
zip = pd.read_csv("서울시 상권분석서비스(집객시설-행정동).csv", encoding = "EUC-kr")

In [ ]:
zip_20232 = zip.query("기준_년분기_코드 == 20232")

In [ ]:
zip_20232 = zip_20232[["행정동_코드_명", "지하철_역_수"]]

In [ ]:
zip_20232 = zip_20232.rename(columns = {"행정동_코드_명": "행정동명"})

In [ ]:
zip_20232.행정동명.replace("면목3?8동", "면목3.8동", inplace = True)
zip_20232.행정동명.replace("종로1?2?3?4가동", "종로1.2.3.4가동", inplace = True)
zip_20232.행정동명.replace("종로5?6가동", "종로5.6가동", inplace = True)

In [ ]:
df = pd.merge(df, zip_20232, how = 'left', on = '행정동명')

# null 값은 0으로 채움

In [ ]:
df = df.fillna(0)

In [ ]:
df.head()

In [ ]:
df.to_csv("전체_데이터_전처리.csv", index = False)